ul {
  display: flex;
  gap: 20%;
  text-decoration: none;
  list-style: none;
  font-size: 40px;
}
.main-card-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 500px));
  grid-gap: 50px;
  justify-content: space-around;
}
.card {
  height: 100%;
}
